@font-face {
  font-family: euro-bold;
  src: url("/fonts/eurofurence\ \ bold\ 700.ttf");
}
@font-face {
  font-family: lato-reg;
  src: url("/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: poppin-medium;
  src: url("/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppin-light;
  src: url("/fonts/Poppins-Light.ttf");
}

body {
  margin: 0;
  background: radial-gradient(circle, #16a2a5 0%, #2cb77b 100%);
}

.page-container {
  background-color: #22252c;
  display: flex;
  flex-direction: column;
  width: 95vw;
  min-height: 95vh;
  margin: auto;
}

.page-header {
  background: #1ea997;
  background: radial-gradient(circle, #16a2a5 0%, #2cb77b 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  font-size: 1.5rem;
  max-width: 1900px;
  padding: 20px 50px;
  border-radius: 5em;
  margin-top: 20px;
}

.nav-bar a,
.logo {
  text-decoration: none;
  font-family: poppin-medium;
  font-size: 1.375rem;
  border-radius: 25px;
  padding: 10px 20px;
  transition: 0.7s;
}
.nav-bar a:hover {
  background-color: #fefefe;
  color: #21ac91;
}

.editor-container {
    /* display: flex;  */
    display: none;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 900px;
}

.canvas-options {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 25px;
  background-color: #383b42;
  margin-left: 40px;
}

.line-input {
  background-color: #ebeef3;
  height: 30px;
  color: #3d3d3d;
  font-size: 1.2rem;
  font-family: poppin-medium;
  border-radius: 25px;
  padding: 10px 10px 10px 30px;
}

.option-img {
  width: 30px;
  height: 30px;
}

canvas {
  background-color: #fff;
  margin: 0;
  border: 1px solid black;
}

.gallery-mems,
.gallery-container {
  background-color: #383b42;
  width: 80%;
  margin: 20px auto;
}

.gallery-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 35px 5px 20px;
}

.search {
  background-color: #22252c;
  width: 350px;
  height: 20px;
  color: #8b8c8e;
  border-radius: 25px;
  padding: 10px 10px 10px 30px;
}

.tags {
  background-color: #87898d;
  width: 350px;
  /* height: 20px; */
  color: #fefefe;
  border-radius: 25px;
  padding: 5px 10px 5px 30px;
  font-size: 1.375rem;
  font-family: poppin-light;
  margin: 15px;
}

.btns,
button {
  cursor: pointer;
}

.more-btn {
  background-color: #2cb77b;
  border-radius: 25px;
  width: 75px;
  max-height: 35px;
  /* font-size: 1rem; */
  font-family: poppin-medium;
}

.impact {
  display: flex;
  align-items: center;
}

.arrow-btns {
  width: 45px;
  height: 39px;
  font-size: x-large;
  font-family: poppin-medium;
}

.save-btn {
  background-color: #2cb77b;
  border-radius: 25px;
  width: 150px;
  height: 40px;
  font-size: 24px;
  font-family: poppin-medium;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  height: 400px;
}
.gallery-itme2 {
  display: flex;
  align-items: center;
}
.gallery-images img {
  width: 125px;
  height: 125px;
  margin: 10px;
  cursor: pointer;
}
.saved-canvas-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.saved-canvas {
  width: 150px;
}

/* scroller css start ----------------------------------------
/* width */
.gallery-images::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.gallery-images::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.gallery-images::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, #16a2a5 0%, #2cb77b 100%);
  border-radius: 10px;
}

/* Handle on hover */
.gallery-images::-webkit-scrollbar-thumb:hover {
}

/* scroller css END ----------------------------------------

/*  */
@media (max-width: 970px) {
  .search {
    width: 220px;
    padding: 5px 10px;
  }

  .tags {
    font-size: 1rem;
    width: 220px;
  }

  .more-btn {
    width: 50px;
    max-height: 35px;
    font-size: 0.8rem;
  }

  .editor-container {
    width: 90%;
  }

  .canvas-options {
    width: 35%;
    padding: 25px 10px;
  }

  /* .canvas-container {
    width: 65%;
    height: 400px;
  } */

  /* #my-canvas {
    width: 100%;
    height: 100%;
  } */
  .line-input {
    font-size: 0.9rem;
    padding: 10px 3px 10px 5px;
  }
}

@media (max-width: 795px) {
  .search {
    width: 320px;
    padding: 10px 10px;
  }

  .tags {
    font-size: 1.2rem;
    width: 260px;
  }
  .more-btn {
    width: 50px;
    max-height: 35px;
    padding: 5px 5px 5px 5px;
  }
  .gallery-menu {
    display: flex;
    flex-direction: column;
  }

  .nav-bar a,
  .logo {
    font-size: 1.1rem;
    padding: 5px 10px;
  }
  .editor-container {
    flex-direction: column;
    align-items: center;
  }
  .line-input {
    width: 350px;
  }
  .canvas-options {
      margin:20px ;
      width: 450px;
      height: 250px;
  }

}

@media (max-width: 600px) {
  .page-header {
    flex-direction: column;
    padding: 10px;
    height: 70px;
  }
  .nav-bar a,
  .logo {
    font-size: 1.2rem;
  }

  .gallery-images img {
    width: 150px;
    height: 150px;
  }
}
/* .canvas-options {
    flex-direction: row;
    align-items: flex-start;
    width: 400px;
    height: 200px;
    flex-wrap:wrap;
  } */

.canvas-options {
  flex-direction: column;
  /* align-items: flex-start; */
  /* width: 400px; */
  /* height: 200px; */
  /* flex-wrap: wrap; */
}

@media (max-width: 476px) {
  .gallery-images {
    width: 95%;
  }

  .gallery-images img {
    width: 150px;
    height: 150px;
  }

  .nav-bar a,
  .logo {
    font-size: 1rem;
    padding: 2px;
  }

  .search {
    width: 250px;
    margin-top: 15px;
    padding: 7px 5px 7px 10px;
  }
  .tags {
    font-size: 0.9rem;
    width: 200px;
    padding: 7px 5px 7px 10px;
  }
}
